<!-- footer -->
<footer class="footer">
  <div class="col col1">
    <h6>Get In Touch</h6>
    <div class="line"></div>
    <ul>
      <li>RFX Limited</li>
      <li>Oakbank Park Livingston</li>
      <li>West Lothion, EH53 0TH, Scotland, UK</li>
    </ul>
    <a href="#">Telephone: +44 (0)1506439222</a>
    <a href="#">sales@rfx.co.uk</a>
  </div>
  <div class="col col2">
    <h6>Performance Products</h6>
    <div class="line"></div>
    <ul class="grid">
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
      <li>
        <a href="">Quartz Crystals</a>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
          </svg>
        </span>
      </li>
    </ul>
  </div>
  <div class="col col3">
    <a href="#" class="btn">Sign Up</a>
    <a href="#" class="btn">My Account</a>
  </div>
</footer>
<!-- --footer -->

<!-- furntiture -->
<section class="furniture">
  <div>
    <p>© RFX Ltd. All rights Reserved. Reg No: SC151379, VAT No: 123 456 7890 | Privacy Policy | Terms of Use</p>
    <p>RFX Ltd,
      Oakbank Park, Livingston, West Lothian, EH53 0TH, Scotland. RFX Limited © MMXI</p>
  </div>
  <div>
    <p>Website by <a href="#">Flaydemouse</a></p>
  </div>
</section>
<!-- --furntiture -->

<script src="/js/splide.min.js"></script>
<script src="/js/app.js"></script>

</body>

</html>