<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%- typeof pageTitle !==undefined ? 'RFX' : pageTitle %>
  </title>
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap" rel="stylesheet">
  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/splide-core.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <!-- header -->
  <header class="header">
    <div class="top__bar">
      <div class="logo">
      </div>
      <nav class="navbar">
        <ul class="nav__menu">
          <% template.nav.forEach(item=> { %>
            <li class="nav__item">
              <a href="/<%=item.URL%>">
                <%=item.Title%>
              </a>
            </li>
            <% }) %>
        </ul>
        <div class="search">
          What Are you Looking for?
        </div>
      </nav>
    </div>
    <div class="toolbar">
      <ul class="toolbar__menu">
        <li class="toolbar__item"><a href="#">Quartz Crystals</a></li>
        <li class="toolbar__item"><a href="/clock-osciallators">Clock Oscillators</a></li>
        <li class="toolbar__item"><a href="#">VCXOS</a></li>
        <li class="toolbar__item"><a href="#">TCXOS</a></li>
        <li class="toolbar__item"><a href="#">OCXOS</a></li>
      </ul>
      <div class="toolbar__contact">
        <a href="#">My Account</a>
        <a href="#">01111111111</a>
      </div>
    </div>
  </header>
  <!-- --header -->