<% pageTitle="Home  | RFX" %>

  <%- include('partials/header'); -%>

    <main>
      <!-- hero slider -->
      <section class="hero__slider">
        <div class="splide hero__splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="wrapper">
                  <div class="slide__content">
                    <h3>Quality engineering <span>and manufacturing</span></h3>
                    <p>The company design and manufacures innovative standard and bespoke high frequency preciesion
                      OCXO,
                      TCXO, VCXO and PLL oscillators</p>
                    <div class="btns">
                      <a href="#" class="btn">
                        RFX Products
                      </a>
                      <a href="#" class="btn">
                        Quality
                      </a>
                    </div>
                  </div>
                  <div class="slide__img">
                    <figure>
                      <img src="/img/main.png" alt="#">
                    </figure>
                  </div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="wrapper">
                  <div class="slide__content">
                    <h3>Quality engineering <span>and manufacturing</span></h3>
                    <p>The company design and manufacures innovative standard and bespoke high frequency preciesion
                      OCXO,
                      TCXO, VCXO and PLL oscillators</p>
                    <div class="btns">
                      <a href="#" class="btn">
                        RFX Products
                      </a>
                      <a href="#" class="btn">
                        Quality
                      </a>
                    </div>
                  </div>
                  <div class="slide__img">
                    <figure>
                      <img src="/img/main.png" alt="#">
                    </figure>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="splide__arrows">
            <button type="button" class="splide__arrow splide__arrow--prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
              </svg>
              <p>Back</p>
            </button>
            <button type="button" class="splide__arrow splide__arrow--next">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
              <p>Next</p>
            </button>
          </div>
        </div>
      </section>
      <!-- --hero slider -->
      <!-- home cta -->
      <section class="home__cta">
        <div class="text">
          <p>Latest News: RFX launches new ultra-low noise OCXO</p>
          <p>RFX has announced the release of its new high performance OS36-10 seriers Oven Controlled Crystal
            Oscillator
            (OCXO)...</p>
        </div>
        <a href="#" class="cta__btn btn">Read More</a>
      </section>
      <!-- --home cta -->
      <!-- home intro -->
      <section class="home__intro">
        <div class="img">
          <figure>
            <img src="./img/other.jpg" alt="#">
          </figure>
        </div>
        <div class="content">
          <h2>A specialist frequency product manufacurer</h2>
          <p>The company designs and manufactures innovative standard
            and bespoke high frequency precision OCXO, TCXO, VCXO
            and PLL oscillators from 1MHz to 2.4GHz and GPS synchronised
            precision OCXO modules from its modern production unit
            based in Livingston, Scotland. Our quartz crystal division.</p>
          <div class="btns">
            <a href="#" class="btn">About Us</a>
            <a href="#" class="btn">Laptech</a>
          </div>
        </div>
      </section>
      <!-- --home intro -->
      <!-- home updates -->
      <section class="home__updates">
        <div class="blog">
          <div class="overlay"></div>
          <div class="title">
            <h3>Insights</h3>
            <div class="line"></div>
          </div>
          <div class="splide blog__splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="content">
                    <p class="date">
                      September 2021
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nostrum saepe tenetur tempore
                      dolor illo
                      numquam maiores labore dolorem repudiandae eveniet ut ea culpa aperiam neque, dicta error laborum
                      dolores
                      eos earum accusantium minima officia asperiores. Doloremque ad nihil facere aliquam veritatis
                      impedit iure
                      eos dolores, asperiores, eum rem aut.</p>
                    <div class="btn">Read More</div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="content">
                    <p class="date">
                      September 2021
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nostrum saepe tenetur tempore
                      dolor illo
                      numquam maiores labore dolorem repudiandae eveniet ut ea culpa aperiam neque, dicta error laborum
                      dolores
                      eos earum accusantium minima officia asperiores. Doloremque ad nihil facere aliquam veritatis
                      impedit iure
                      eos dolores, asperiores, eum rem aut.</p>
                    <div class="btn">Read More</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="news">
          <a href="#" class="item">
            <p class="date">September 2021</p>
            <h4>RFX Ltd announce version two of their GPS disciplined OCXO module. </h4>
            <div class="btn">Read More</div>
          </a>
          <a href="#" class="item">
            <p class="date">September 2021</p>
            <h4>RFX Ltd announce version two of their GPS disciplined OCXO module. </h4>
            <div class="btn">Read More</div>
          </a>
          <a href="#" class="item">
            <p class="date">September 2021</p>
            <h4>RFX Ltd announce version two of their GPS disciplined OCXO module. </h4>
            <div class="btn">Read More</div>
          </a>
        </div>
      </section>
      <!-- --home updates -->
      <!-- product grid -->
      <section class="product__grid">
        <div class="heading">
          <div class="title">
            <h3>Our Products</h3>
            <div class="line"></div>
          </div>
          <a href="#" class="btn">Contact Us</a>
        </div>
        <div class="grid">
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
          <a href="#" class="product">
            <div class="img">
              <figure>
                <img src="/img/main.png" alt="#">
              </figure>
            </div>
            <div class="name">
              <div class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
              </div>
              <h5>Quartx Crystals</h5>
            </div>
          </a>
        </div>
      </section>
      <!-- --product grid -->
      <!-- footer info -->
      <section class="info__block">
        <div class="overlay"></div>
        <div class="content">
          <h4>Experienced Lapping and <span>Polishing services</span></h4>
          <p>Precision lapping and polishing of materials including quartz,metals and
            alloys, correction of alumina plates, aluminium oxide and silicon carbide.</p>
          <div class="btns">
            <a href="#" class="btn">Lapping</a>
            <a href="#" class="btn">Polishing</a>
          </div>
        </div>
      </section>
      <!-- --footer info -->
    </main>

    <%- include('partials/footer'); -%>