<%- include('partials/header'); -%>

  <main>

    <!-- info block -->
    <section class="info__block">
      <div class="overlay"></div>
      <div class="content">
        <h4>Experienced Lapping and <span>Polishing services</span></h4>
        <p>Precision lapping and polishing of materials including quartz,metals and
          alloys, correction of alumina plates, aluminium oxide and silicon carbide.</p>
        <div class="btns">
          <a href="#" class="btn">Lapping</a>
          <a href="#" class="btn">Polishing</a>
        </div>
      </div>
    </section>
    <!-- --info block -->
    <!-- inner content -->
    <section class="inner__content">
      <aside class="inner__sidebar">
        <h4>In this section</h4>
        <ul>
          <li>
            <a href="#">Page title here</a>
          </li>
          <li>
            <a href="#">Page title here</a>
          </li>
          <li>
            <a href="#">Page title here</a>
          </li>
          <li>
            <a href="#">Page title here</a>
          </li>
        </ul>
        <a href="#" class="btn">Ask us a question</a>
        <a href="#" class="btn">View our products</a>
      </aside>
      <div class="inner__copy">
        <h1>Headline will look this long and this many words</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae reprehenderit suscipit dolor id animi
          cupiditate quasi officiis commodi, cum vitae.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta omnis accusamus suscipit iusto magnam dolor
          vel voluptas, nam praesentium aliquam repellat neque quasi excepturi eum!</p>
        <div class="card">
          <div class="card__outer">
            <div class="question">
              Question in this space
            </div>
            <div class="expand">
              <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>
          </div>
          <div class="card__inner hide">
            Answer goes in this space here
          </div>
        </div>
      </div>
    </section>
    <!-- --inner content -->
    <!-- info block -->
    <section class="info__block">
      <div class="overlay"></div>
      <div class="content">
        <h4>Experienced Lapping and <span>Polishing services</span></h4>
        <p>Precision lapping and polishing of materials including quartz,metals and
          alloys, correction of alumina plates, aluminium oxide and silicon carbide.</p>
        <div class="btns">
          <a href="#" class="btn">Lapping</a>
          <a href="#" class="btn">Polishing</a>
        </div>
      </div>
    </section>
    <!-- --info block -->

  </main>

  <%- include('partials/footer'); -%>